.bodyCard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards{
  margin-bottom: 20px;
  position: relative;
}
.cards:hover .card-body {
  display: block;
}

.cards-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body {
  width: 100%;
  display: none;
  height: 30%;
  text-align: center;
  bottom: 0;
  transition: 0.5s ease-in-out;
  position: absolute;
  background: #0009;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff !important;
  padding: 30px;
}

.cards-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}
.card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}
.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}
.cards-btn {
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 10px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(to bottom,#040429, #0008 ), url("../assets/images/image1.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 20px;
}
.content-items {
  display: flex;
}
.item {
  margin: 20px;
  color: white;
}
.item > p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.item > div {
  width: 100%;
}
.item > div {
  text-align: center;
}

/* Footer */

.firstrow {
  background-color: #132e5e;
  margin-bottom: 32px;
  width: 100vw;
}
.footer-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: white;
  margin-top: 107px;
  margin-left: 120px;
}
.subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: white;
  margin-top: 55px;
  margin-left: 126px;
  margin-bottom: 154px;
}
.subtitleGauche {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: white;
  margin-top: 55px;
  margin-bottom: 31px;
  margin-right: 262px;
}

.footer-titleGauche {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: white;
  margin-top: 107px;
}
.message {
  height: 51px;
  width: 417px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 17px;
  border: none;
}
.message:hover {
  border: white;
}
.message-div {
  display: flex;
}
.message-div > button {
  background-color: #ad0101;
  padding: 10px 35px;
  border-radius: 30px;
  border: 0;
  margin-left: 22px;
  outline: 0;
  color: white;
  box-shadow: none;
}
.message-div > button:hover {
  border: 0;
}
.footerclasse > h2 {
  color: #ad0101;
  font-size: 42px;

  text-align: center;
}
.footerclasse > p {
  text-align: justify;
  margin-left: 60px;
  margin-top: 28px;
}
.serviceFooter > h2 {
  color: #000;
  font-size: 29px;
  font-weight: 800;
  text-align: center;
}
.serviceFooter > p {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  margin: 12px;
  text-align: center;
  cursor: pointer;
}
.fin {
  background-color: #ad0101;
  width: 100vw;
  height: 40px;
  text-align: center;
  margin: 0px;
  padding: 5px;
  color: white;
}
.titleProjet{
  color: #AD0101;
  text-align: center;
  font-size: 48px;
  margin-bottom: 67px;
  text-transform: uppercase;
}
.services{
  width: 100vw;
}